/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.selectContainer{
    background-color: #dcf2cc;
    width:100%;
    cursor:pointer;
}

@media screen and (max-width: 514px) {
    .selectContainer{
        font-size: 0.9rem;        
    }
}